h1.secret {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

div.hero {
	height: auto;
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
	padding-top: 150px;
	margin-bottom: 20px;
	position: relative;
	/*@media (min-width: 701px) {
		font-size: 45px;
		margin-top: 20px;
	}*/
	img.cookieimg {
		width: 250px;
		margin-bottom: 80px;
	}
	div.headline {
		position: relative;
		img.logo {
			height: 25px;
			margin-bottom: 0px;
			@media (min-width: 1001px) {
				height: 26px;
				margin-bottom: 10px;
			}
			@media (max-width: 701px) {
				height: 22px;
			}
		}
		h1 {
			font-family: "Popular";
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 auto;
			line-height: 1;
			font-size: 65px;
			margin-top: 10px;
			margin-bottom: 0;
			@media (min-width: 1001px) {
				font-size: 60px;
			}
			@media (max-width: 701px) {
				font-size: 45px;
				margin-top: 20px;
			}
		}
	}	
}

div.hero-wrapper {
	height: auto;
	&.recipe-show {
		height: 100vh;
		overflow: hidden;
	}
}

h2.subhead {
	width: 85%;
	margin: 0 auto;
	max-width: 800px;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 40px;
	@media (min-width: 601px) {
		font-size: 24px;
		margin-bottom: 100px;
	}
}
.clean-sheet {
	.sponsor {
		div {
			width:auto;
			height:auto;
			background-color:transparent;
		}
	}
}
.sponsor {
	width: 260px;
	margin: 0 auto 75px auto;
	margin-bottom: 75px;
	@media (min-width: 601px) {
		margin-bottom: 125px;
	}
	p {
		text-align: center;
    text-transform: uppercase;
    color: #888;
    letter-spacing: .75px;
    margin: 0;
    font-size: .8em;
	}
	div {
		height:46px;
		width:260px;
		background-color:#efefef;
	}
}

div.search {
	width: 85%;
	margin: 0 auto;
	position: relative;
	max-width: 470px;
	margin-bottom: -70px;
	z-index: 100;
	@media (min-width: 601px) {
		margin-bottom: -50px;
	}
	h5 {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-size: 11px;
		margin-bottom: 0px;
		margin-top: 30px;
		text-align: left;
		@media (min-width: 601px) {
			font-size: 13px;
			text-align: center;
		}
	}
	.strib-search {
		display: block;
		position: absolute;
		left: 1px;
		top: 36px;
		height: 10px;
		color: gray;
		@media (min-width: 601px) {
			font-size: 20px;
		}
	}
	input {
		width: 100%;
		text-align: center;
		margin-top: 10px;
		border-left: 1px solid white;
		border-right: 1px solid white;
		border-top: 1px solid white;
		border-bottom: 1px solid gray;
		@media (min-width: 601px) {
			font-size: 20px;
		}
		&:focus {
			outline: none;
			color: black;
			border-bottom: 1px solid black;
		}
	}
}