label {
    display: inline-block; 
    font-family: "Benton Sans";
    border: 1px solid black;
    padding: 5px 10px;
    line-height: 1;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}