div.navigation {
	font-family: "Benton Sans";
	width: 100%;
	position: relative;
	transition: 1s all;
	&.fixed {
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	&.inline {
		div.top-nav {
			opacity: 0;
		}
		div.second-nav {
			background: transparent;
			border-bottom: 3px solid transparent;
			div.condensed-view {
				opacity: 0;
			}
			&.hide {
				div.filters {
					height: auto;
					overflow: hidden;
				}
			}
		}
	}
	&.recipe {
		div.second-nav {
			div.condensed-view {
				div.back {
					display: block;
					opacity: 1;
				}
			}
		}
	}
	&.condensed {
		div.second-nav {
			div.filters {
				height: 0;
				overflow: hidden;
			}
		}
	}
	div.top-nav {
		width: 100%;
		height: 35px;
		background: white;
		border-bottom: 1px solid #E5E7E9;
		position: relative;
		display: block;
		opacity: 1;
		img.logo {
			position: absolute;
			height: 18px;
			left: 7px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1000;
		}
		div.sharing {
			position: absolute;
			height: 20px;
			right: 10px;
			transform: translateY(-50%);
		}
		@media (min-width: 701px) {
			height: 45px;
		}
	}
	div.second-nav {
		height: auto;
		background: white;
		border-bottom: 2px solid #E5E7E9;
		width: 100%;
		padding-left: 7.5%;
		padding-right: 7.5%;
		margin: 0 auto;
		box-sizing: border-box;
		@media (min-width: 701px) {
			width: 500px;
			padding-left: 5%;
			padding-right: 5%;
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			border-bottom: 1px solid #E5E7E9;
		}
		&.hide {
			div.filters {
				height: 0;
				overflow: hidden;
			}
			div.condensed-view {
				div.arrow {
					transform: rotate(90deg);
				}
			}
		}
		&.alsohide {
			div.filters {
				height: 0;
				overflow: hidden;
			}
			div.condensed-view {
				div.arrow {
					transform: rotate(90deg);
				}
			}
		}
		&.recipe-detail {
			div.filters {
				height: 0;
				overflow: hidden;
			}
			div.condensed-view {
				div.arrow {
					display: none;
				}
				div.back {
					display: block;
					opacity: 1;
				}
			}
		}
		div.condensed-view {
			width: 100%;
			height: 35px;
			padding-top: 5px;
			overflow: hidden;
			position: relative;
			opacity: 1;
			@media (min-width: 701px) {
				padding-top: 0;
				height: 40px;
				padding-top: 5px;
				.selected-filters p {
					font-size: 15px;
				}
			}
			div.selected-filters {
				p {
					margin: 0;
					font-size: 13px;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 90%;
					overflow: hidden;
					height: 15px;
					display: inline;
					&:before {
						display: inline;
						font-weight: bold;
						content: 'Filters: ';
					}
				}
			}
			div.arrow {
				position: absolute;
				right: 1%;
				transform: rotate(270deg);
				top: 35%;
				font-size: 12px;
				color: #BDC3C7;
				&:hover {
					cursor: pointer;
				}
				&:focus {
					outline: none;
				}
			}
			div.back {
				position: absolute;
				right: 0px;
				top: 50%;
				transform: translateY(-50%);
				display: none;
				color: #797D7F;
				p {
					font-weight: bold;
					font-size: 11px;
					text-transform: uppercase;
					letter-spacing: 0.5px;
					margin: 0;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
		div.filters {
			height: auto;
			overflow: hidden;
		}
		div.feature {
			/*width: 130px;*/
			text-align: center;
			display: inline-block;
			position: relative;
			height: auto;
			input {
		    	display: inline;
		    	opacity: 0;
		    	position: absolute;
		    	z-index: 10000;
		    	left: 0;
		    	right: 0;
		    	width: 100%;
		    	height: 100%;
		    	min-height: 25px;
		    	&:hover {
		    		cursor: pointer;
		    	}
		    	&:checked {
					&::before {
			    		content: '-';
			    		color: #006341;
			    	}
		    	}
		    }
		    input:checked + label {
		    	font-weight: bold;
			    border: 2px solid #006341;
		    }
		    input:checked + label.features::before {
		    	content: '-';
		    }
		    input:selected + label.type {
		    	font-weight: bold;
			    border: 2px solid #006341;
		    }
		    label.type {
			    display: inline-block;
			    border: 1px solid #006341;
			    padding: 5px 10px 5px 10px;
			    line-height: 1;
			    margin-right: 5px;
			    margin-bottom: 5px;
			    border-radius: 10px;
			    font-size: 14px;
			    position: relative;
			    width: auto;
			    color: #006341;
			}
			label.features {
			    /*display: inline-block; */
			    border: 1px solid #006341;
			    padding: 5px 10px 5px 20px;
			    line-height: 1;
			    margin-right: 5px;
			    margin-bottom: 5px;
			    border-radius: 10px;
			    font-size: 14px;
			    position: relative;
			    width: auto;
			    color: #006341;
			    &::before {
		    		content: '+';
		    		position: absolute;
		    		left: 9px;
		    		color: #006341;
		    	}
			}
			label.features, label.type {
				@media (min-width: 701px) {
					font-size: 16px;
				}
			}
		}
		h5 {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			font-size: 11px;
			margin-bottom: 20px;
			margin-top: 30px;
			@media (min-width: 701px) {
				font-size: 13px;
			}
		}
		h4 {
			font-weight: normal;
			font-size: 12px;
			text-decoration: underline;
			margin-top: 40px;
			@media (min-width: 701px) {
				font-size: 14px;
			}
		}
	}
}
svelte-scroller-background-container.svelte-ihz62u {
	z-index: 10000 !important;
	margin-bottom: 100px;
}
svelte-scroller-foreground {
	padding-top: 400px;
}
